<template>
    <div class="timer">
        <button v-if="!running" @click="start">Старт</button>
        <button v-else @click="restart">Сбросить</button>
        <div class="time">
            {{ displayText }}
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    export default {
        name: "StopWatch",
        data(){
            return{
                time: null,
                times: [ 0, 0, 0 ],
                running : false,
                displayText: ""
            }
        },

        created() {
            this.print(this.times)
        },
        methods: {
            reset() {
                this.times = [ 0, 0, 0 ]
            },
            start() {
                this.reset()
                if (!this.time) this.time = performance.now()
                if (!this.running) {
                    this.running = true
                }
                requestAnimationFrame(this.step.bind(this))
            },

            stop() {
                this.running = false;
                this.time = null;
            },

            step(timestamp) {
                if (!this.running) return
                this.calculate(timestamp)
                this.time = timestamp
                this.print()
                requestAnimationFrame(this.step.bind(this))
            },

            restart() {
                if (!this.time) this.time = performance.now()
                if (!this.running) {
                    this.running = true
                    requestAnimationFrame(this.step.bind(this))
                }
                this.reset()
            },

            calculate(timestamp) {
                let diff = timestamp - this.time;

                this.times[2] += diff / 10

                if (this.times[2] >= 100) {
                    this.times[1] += 1
                    this.times[2] -= 100
                }

                if (this.times[1] >= 60) {
                    this.times[0] += 1
                    this.times[1] -= 60
                }
            },

            print() {
                this.displayText = this.format(this.times)
            },

            format(times) {
                return ` ${this.build(times[0], 2)}: ${this.build(times[1], 2)}: ${this.build(Math.floor(times[2]), 2)}`
            },

            build(value, count) {
                let result = value.toString()
                for (; result.length < count; --count)
                    result = '0' + result

                return result
            }
        }
    }
</script>

<style scoped lang="scss">
    .timer{
        .time{
            margin-top: 10px;
        }
    }
</style>