<template>
  <div class="first">
    <h1>Задание №1</h1>
    <div class="form-wrap">
      <form action="" @submit.prevent="math" class="my-form">

        <div class="input-wrap">
          <div class="title">
            Первое число:
          </div>
          <input v-model="firstInt" type="text" class="first-int">
        </div>

        <div class="input-wrap">
          <div class="title">
            Второе число:
          </div>
          <input v-model="secondInt" type="text" class="second-int">
        </div>
        <button type="submit">Сложить</button>
      </form>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

/* eslint-disable */

export default {
  name: "First",
  components: {

  },
  data(){
    return{
      firstInt: '0.1',
      secondInt: '0.2'
    }
  },
  methods:{
    math(){
      if(this.firstInt === '' || this.secondInt === ''){
        alert("Данные не полные")
        return
      }
      else if(!(this.firstInt * 1) || !(this.secondInt * 1)){
        alert('Данные должны быть числами')
        return
      }

      let firstArr  = this.firstInt.split('.'),
          secondArr = this.secondInt.split('.'),
          leftPart  = parseInt(firstArr[0]) + parseInt(secondArr[0]),
          rightPart = (firstArr[1] ? parseInt(firstArr[1]) : '') + (secondArr[1] ? parseInt(secondArr[1]) : '')

      alert(leftPart + '.' + rightPart)
    }
  }
};
</script>

<style lang="scss" scoped>
  .first{
    .form-wrap{
      width: 220px;
      margin: 20px auto 0;
      box-shadow: lightgrey;
      box-shadow: 2px 2px 9px 1px;
      padding: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 5px;
      form{
        .input-wrap{
          display: flex;
          flex-flow:wrap column;
          margin-bottom: 10px;
          .title{
            margin-bottom: 4px;
            text-align: left;
            font-weight: bold;
          }
          input{
            padding: 8px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 4px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border: 1px solid rgba(0,0,0, 0.5);
          }
        }
        button{
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border:none;
          padding: 8px 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 13px;
          cursor: pointer;
          border-radius: 4px;
        }
      }
    }
  }
</style>
