<template>
    <div class="fourth">
        <h1>Задание №4</h1>
        <div class="board-params">
            <div class="letters" v-html="lettersRow"></div>
            <div class="numbers" v-html="numbersRow"></div>
            <div class="board" @click="clickEvent" v-html="rows"></div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    export default {
        name: "Fourth",
        data(){
            return{
                rows: "",
                letters: ['A','B','C','D','E','F','G','H'],
                lettersRow: "",
                numbersRow: ""
            }
        },
        methods:{
            clickEvent(e){
                let sq = e.target,
                    position = sq.getAttribute('data-group')

                this.math(position)
            },
            math(position){
                let parts = position ? position.split('') : [],
                    currLetter,
                    currNumber,
                    result = [],
                    square = document.querySelectorAll('.board-params .board .sq')


                if(!position || position.length > 2 || (position.split('')[0] * 1) || !(position.split('')[1] * 1)){
                    alert("Некорректные данные")
                    return
                }

                currLetter = this.letters.indexOf(parts[0].toUpperCase())
                currNumber = parseInt(parts[1])

                //check vertical
                if(currNumber + 2 <= 8){
                    if(currLetter + 1 <= 7){
                        result.push(this.letters[currLetter+1] + (currNumber+2))
                    }
                    if(currLetter - 1 >= 0){
                        result.push(this.letters[currLetter-1] + (currNumber+2))
                    }
                }

                if(currNumber - 2 >= 0){
                    if(currLetter + 1 <= 7){
                        result.push(this.letters[currLetter+1] + (currNumber-2))
                    }
                    if(currLetter - 1 >= 0){
                        result.push(this.letters[currLetter-1] + (currNumber-2))
                    }
                }

                //check horizontal
                if(currLetter + 2 <= 7){
                    if(currNumber + 1 <= 8){
                        result.push(this.letters[currLetter+2] + (currNumber+1))
                    }
                    if(currNumber - 1 >= 0){
                        result.push(this.letters[currLetter+2] + (currNumber-1))
                    }
                }

                if(currLetter - 2 >= 0){
                    if(currNumber + 1 <= 8){
                        result.push(this.letters[currLetter-2] + (currNumber+1))
                    }
                    if(currNumber - 1 >= 0){
                        result.push(this.letters[currLetter-2] + (currNumber-1))
                    }
                }

                square.forEach((item) => {
                    if(item.classList.contains('sq-white')){
                        item.style.background = "white"
                    }
                    else{
                        item.style.background = "black"
                    }
                    if(result.includes(item.getAttribute('data-group'))){
                        item.style.background = "lightblue"
                    }
                    if(position === item.getAttribute('data-group')){
                        item.style.background = "green"
                    }
                })

            },
            createBoard(){
                let board = "",
                    rowStyles = "height: 60px;\n" +
                        "  width: 100%;\n" +
                        " -webkit-box-sizing: border-box;\n" +
                        " -moz-box-sizing: border-box;\n" +
                        " box-sizing: border-box;" +
                        "display: flex;" +
                        "flex-flow: nowrap row;",
                    sqStylesWhite = "width: 60px; " +
                        "height: 60px;" +
                        "background: white;" +
                        "position: relative;" +
                        "font-size:13px;" +
                        "color: black;" +
                        "display: flex;" +
                        "align-items: center;" +
                        "justify-content: center;",
                    sqStylesBlack = "width: 60px; " +
                        "height: 60px;" +
                        "background: black;" +
                        "position: relative;" +
                        "font-size:13px;" +
                        "color: white;" +
                        "display: flex;" +
                        "align-items: center;" +
                        "justify-content: center;"


                for(let i=8; i>0; i--){
                    let squares = ''

                    if(i === 0 || i%2 === 0){
                        for(let y=0; y<8; y++){
                            if(y === 0 || y%2 === 0){
                                squares += `<div class="sq sq-white" style="${sqStylesWhite}" data-group="${this.letters[y]}${i}"></div>`
                            }
                            else{
                                squares += `<div class="sq sq-black" style="${sqStylesBlack}" data-group="${this.letters[y]}${i}"></div>`
                            }

                        }
                    }
                    else{
                        for(let y=0; y<8; y++){
                            if(y === 0 || y%2 === 0){
                                squares += `<div class="sq sq-black" style="${sqStylesBlack}" data-group="${this.letters[y]}${i}"></div>`
                            }
                            else{
                                squares += `<div class="sq sq-white" style="${sqStylesWhite}" data-group="${this.letters[y]}${i}"></div>`
                            }

                        }
                    }

                    board += `<div class="row row-${i}" style="${rowStyles}">${squares}</div>`
                }

                for(let i=0; i<8; i++){
                    this.lettersRow += `<div style="font-size: 15px; text-align: center; width: 60px;"> ${this.letters[i]} </div>`
                    this.numbersRow += `<div style="font-size: 15px; text-align: center; height: 60px; display: flex; align-items: center;"> ${8-i} </div>`
                }

                this.rows = board
            }
        },
        created(){
            this.createBoard()
        }
    }
</script>

<style scoped lang="scss">
    .fourth{
        .board-params{
            position: relative;
            margin: 40px auto;
            padding: 60px;
            width: 500px;
            height: 500px;
            .letters{
                position: absolute;
                top: 30px;
                left: 60px;
                display: flex;
                align-items: flex-end;
            }
            .numbers{
                position: absolute;
                top: 60px;
                left: 30px;
                text-align: right;
            }
            .board{
                width: 480px;
                height: 482px;
                border: 1px solid;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
    }
</style>