<template>
    <div class="second">
        <h1>Задание №2</h1>
        <div class="form-wrap">
            <form action="" @submit.prevent="math(position)" class="my-form">
                <div class="input-wrap">
                    <div class="title">
                        Исходное положение:
                    </div>
                    <input v-model="position" type="text" class="first-int">
                </div>
                <button type="submit">Ок</button>
            </form>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    export default {
        name: "Second",
        data(){
            return{
                rows: "",
                letters: ['A','B','C','D','E','F','G','H'],
                position: null
            }
        },
        methods:{
            math(position){
                let parts = position ? position.split('') : [],
                    currLetter,
                    currNumber,
                    result = []

                if(!position || position.length > 2 || (position.split('')[0] * 1) || !(position.split('')[1] * 1)){
                    alert("Некорректные данные")
                    return
                }

                currLetter = this.letters.indexOf(parts[0].toUpperCase())
                if(currLetter < 0){
                    alert("Данной позиции нет")
                    return
                }
                currNumber = parseInt(parts[1])

                //check vertical
                if(currNumber + 2 <= 8){
                    if(currLetter + 1 <= 7){
                        result.push(this.letters[currLetter+1] + (currNumber+2))
                    }
                    if(currLetter - 1 >= 0){
                        result.push(this.letters[currLetter-1] + (currNumber+2))
                    }
                }

                if(currNumber - 2 >= 0){
                    if(currLetter + 1 <= 7){
                        result.push(this.letters[currLetter+1] + (currNumber-2))
                    }
                    if(currLetter - 1 >= 0){
                        result.push(this.letters[currLetter-1] + (currNumber-2))
                    }
                }

                //check horizontal
                if(currLetter + 2 <= 7){
                    if(currNumber + 1 <= 8){
                        result.push(this.letters[currLetter+2] + (currNumber+1))
                    }
                    if(currNumber - 1 >= 0){
                        result.push(this.letters[currLetter+2] + (currNumber-1))
                    }
                }

                if(currLetter - 2 >= 0){
                    if(currNumber + 1 <= 8){
                        result.push(this.letters[currLetter-2] + (currNumber+1))
                    }
                    if(currNumber - 1 >= 0){
                        result.push(this.letters[currLetter-2] + (currNumber-1))
                    }
                }

                alert(result.join(" "))


            }
        }
    }
</script>

<style scoped lang="scss">
    .second{
        .board-params{
            position: relative;
            margin: 40px auto;
            padding: 60px;
            width: 500px;
            height: 500px;
            .letters{
                position: absolute;
                top: 30px;
                left: 60px;
                display: flex;
                align-items: flex-end;
            }
            .numbers{
                position: absolute;
                top: 60px;
                left: 30px;
                text-align: right;
            }
            .board{
                width: 480px;
                height: 482px;
                border: 1px solid;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }

        .form-wrap{
            width: 220px;
            margin: 20px auto;
            box-shadow: 2px 2px 9px 1px;
            padding: 15px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 5px;
            form{
                .input-wrap{
                    display: flex;
                    flex-flow:wrap column;
                    margin-bottom: 10px;
                    .title{
                        margin-bottom: 4px;
                        text-align: left;
                        font-weight: bold;
                    }
                    input{
                        padding: 8px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        border-radius: 4px;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        border: 1px solid rgba(0,0,0, 0.5);
                    }
                }
                button{
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    border:none;
                    padding: 8px 10px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    font-size: 13px;
                    cursor: pointer;
                    border-radius: 4px;
                }
            }
        }
    }
</style>