<!--eslint-disable-->
<template>
    <div class="third">
        <div class="game-wrap">
            <div v-for="(color, k) in colors" :key="k"
                 class="square"
                 @click="colorClick(color)"
                 v-bind:style="{background: color.opened ? color.name : 'white'}"></div>
        </div>

        <div class="bottom-wrap">
            <StopWatch ref="timer"></StopWatch>
        </div>

    </div>
</template>

<script>
/* eslint-disable */

    import StopWatch from '@/views/Tools/StopWatch'

    export default {
        name: "Third",
        components:{
            StopWatch
        },
        data(){
            return{
                colors: [
                        {name: 'red', 'opened': false},
                        {name: 'red', 'opened': false},
                        {name: 'yellow', 'opened': false},
                        {name: 'yellow', 'opened': false},
                        {name: 'blue', 'opened': false},
                        {name: 'blue', 'opened': false},
                        {name: 'green', 'opened': false},
                        {name: 'green', 'opened': false},
                        {name: 'grey', 'opened': false},
                        {name: 'grey', 'opened': false},
                        {name: 'black', 'opened': false},
                        {name: 'black', 'opened': false},
                        {name: 'pink', 'opened': false},
                        {name: 'pink', 'opened': false},
                        {name: 'orange', 'opened': false},
                        {name: 'orange', 'opened': false},
                    ],
                tempColor: null,
                acc: 0
            }
        },
        methods:{
            shuffle(colors) {
                let currentIndex = colors.length,
                    temporaryValue,
                    randomIndex;

                while (currentIndex !== 0 ) {
                    randomIndex = Math.floor(Math.random() * currentIndex);
                    currentIndex -= 1;

                    temporaryValue = colors[currentIndex];
                    colors[currentIndex] = colors[randomIndex];
                    colors[randomIndex] = temporaryValue;
                }
            },
            colorClick(color){
                if(color.opened || !this.$refs.timer.running) return

                if(!this.tempColor){
                    this.tempColor = color
                    color.opened = true
                }
                else{
                    color.opened = true
                    if(color.name !== this.tempColor.name){
                        setTimeout(() => {
                            color.opened = this.tempColor.opened = false
                            this.tempColor = null
                        }, 300)
                    }
                    else{
                        if(this.acc === 7){
                            this.$refs.timer.stop()
                            this.acc = 0
                            this.tempColor = null

                            for(let i=0; i<this.colors.length; i++){
                                this.colors[i]['opened'] = false
                            }

                            alert(`Вы выиграли!\n\nЗатраченное время: ${this.$refs.timer.displayText}`)
                            this.$refs.timer.reset()
                            this.$refs.timer.print()
                            return
                        }
                        this.acc++
                        this.tempColor = null
                    }
                }
            }
        },
        created(){
            this.shuffle(this.colors)
        }

    }
</script>

<style scoped lang="scss">
    .third{
        .game-wrap{
            display: flex;
            flex-flow:wrap row;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #333;
            margin: 20px auto 15px;
            width: 430px;
            height: 430px;
            justify-content: center;
            align-items: center;
            .square{
                width: 100px;
                height: 100px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                border: 1px solid lightgrey;
                box-sizing: border-box;
                background: #fff;
            }
        }
    }
</style>