<template>
  <div id="app">
    <div class="pages">
      <router-link to="/">Задание №1</router-link>
      <router-link to="/second">Задание №2</router-link>
      <router-link to="/third">Задание №3</router-link>
      <router-link to="/fourth">Задание №4</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
  /* eslint-disable */
</script>

<style lang="scss" scoped>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.pages {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    margin: 0 5px;
    padding: 8px 12px;
    background: #42b983;
    color: #fff !important;
    border-radius: 4px;
    transition: 0.3s;
    &:hover{
      background: rgba(66, 185, 131, 0.8);;
    }
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
